extend ../layout

block content
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap4.min.css")
    script(src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js")
    script(src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap4.min.js")
    script.
        $(document).ready(function() {
            $('#userTable').DataTable();
        });
    h1 List of Tours
    table#userTable.table.table-hover.table-striped.table-bordered
        thead
            tr
                th Predefined Tours
        tbody
            each tour in tours
                tr
                    td.card.mb-3(style='max-width: 100%;')
                        .row.g-0
                            .col-md-4
                                img(src='...' alt='...')
                            .col-md-8
                                .card-body
                                    h5.card-title=tour.title
                                    h6.card-text='No Of Days: '+tour.noOfDays
                                    h6.card-text='Per Head mPrice: '+tour.perHeadPrice
                                        //- small.text-muted Last updated 3 mins ago    
